# .gitignore

# Log files and local application environments
health_log.txt
*.log
.env

# Ignore local secret variable overrides everywhere
**/*.tfvars
**/terraform.tfvars

# Ignore local state file records globally
**/*.tfstate
**/*.tfstate.backup

# Ignore compiled binary provider plugins and locks
**/.terraform/
**/.terraform.lock.hcl
ansible/inventory/hosts.yml
ansible/*.retry
